**Important Packages**

* NumPy: Numerical Python (NumPy) is the foundation package. Other packages and libraries are built on top of NumPy. 
* pandas: Provides data structures and processing capabilities similar to ones found in R and Excel. Also provides time series capabilities.
* SciPy: Collection of packages to tackle a number of computing problems in data analytics, statistics, and linear algebra.
* matplotlib: Plotting library. Allows to plot a number of 2D graphs and will serve as primary graphics library.
* IPython: Interactive Python shell that allows quick prototyping of code. 
* Statsmodels: Allows data analysis, statistical model estimation, statistical tests, and regressions, and function plotting. 
* BeautifulSoup: Python library for crawling the web. Allows you to pull data from HTML and XML pages. 
* Scikits: A number of packages for running simulations, machine learning, data mining, optimization, and time series models. 
* RPy: Integrates Python with R, allows calling of R commands from Python code

**IPython notebook**

IPython is a software package in Python that serves as a research notebook. IPython has a seamless interface using which you can write notes as well as perform data analysis in the same file. The data analysis part allows you to write the code and run it from within the notebook itself. The results also are displayed in the notebook. Among other things, IPython provides:

1. An interactive shell
2. Notebook that is browser based. The notebook supports text, code, expressions, graphs and interactive data visualization, embed images and videos, and also links to web pages on the Internet. 
3. Tools for parallel computing.
4. Import external code and run it.
5. Export the notebook in a number of formats.



**Creating an IPython notebook**

In order to create an IPython notebook, choose File -> New -> IPython notebook. 

Hitting Alt-Enter creates a new cell. A cell is nothing but a placeholder where you can write some text or execute code.

In [ ]:
print("An example of code execution in IPython")
25*543

In order to find help on some concept, make use of ? If you want to find a function or make use of wildcard entry, make use of followed by ? A quickref command gives you a quick reference to the most commonly used commands in Python.

In [ ]:
import collections
collections.namedtuple?

In [ ]:
import numpy as np
np.*mean*?

In [ ]:
print("hi")

Tab is a very handy feature in Python. It gives you a list of all the functions and commands that are associated with a package (such as NumPy). For example, if you type np. and then press tab, a dropdown will come up with the list of all the functions associate with np. By using this, you do not have to rememeber the functions specifics and can just use tab completion.

If you want to know the histroy of commands, make use of history command. This feature also allows you to extract code from a IPython notebook to a separate file.

In [ ]:
%history

**Running external code files in IPython**

If you want to run external code files in Python, make use of %run command followed by the path of the file. IPython shell will execute the code and will display the results.

In [ ]:
%run "D:\fibonacci.py"

**Syntax Formalities**

* Python is case sensitive
* Python makes use of whitespace for code structuring and marking logical breaks in the code (In contrast to other programming languages that use braces)
* End of line marks end of a statement, so does not require a semicolon at end of each statement
* Whitespace at the beginning of the line is important. This is called indentation.
* Leading whitespace (spaces and tabs) at the beginning of the logical line is used to determine the indentation level of the logical line.
* Statements which go together must have the same indentation. Each such set of statements is called a block.

In [ ]:
i = 5
a =7 
i ='text'
print(i)
print ('Value is ', i) # Error! Notice a single space at the start of the li
print ('I repeat, the value is ', i)

**Comments** 

One line comments are denoted by (#) at the start of line Multiple line comments start with ''' and end with '''

In [ ]:
# this is a single line comment
'''
print("We are in a comment")
print ("We are still in a comment")
'''
print("We are out of the comment")

In [ ]:
#Example of indentation
'''
for x in alist:
    if x < anumber:
            print(x)
    else:
        print(-x)
        
is similar to

for x in alist 
{if x < anumber  {
        print(x)
    }
    else
    {
        print(-x)
    }
}
'''

In [ ]:
x = 3
if x < 5:
    print(x)
print(5)

In [ ]:
x = 21
y =25
print(x)
if x<10:
    print(x)
    
    print (y)


**Variables and Data Structures**

* Built-in data types: Integer, Floating point, String, Boolean Values, Date and Time
* Additional data structures: Tuples, Lists, Dictionary
* A variable is a name that refers to a value.
* No need to specify type to a variable; Python automatically assigns.

In [ ]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = 'Ajay'        # A string

print(counter)
print(miles)
print(name)

a = 11111
b = 2.0
c = "0"
d = "2"
print(b + a)
print(c  + d)

**Strings**

* Built-in string class named "str" with many handy features
* In addition to numerical data processing, Python has very strong string processing capabilities. 
* Subsets of strings can be taken using the slice operator ( [ ] and [ : ] ) with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.
* The plus ( + ) sign is the string concatenation operator and the asterisk ( * ) is the repetition operator.
* Strings in Python are immutable. Unlike other datasets such as lists, you cannot manipulate individual string values. In order to do so, you have to take subsets of strings and form a new string. 
* A string can be converted to a numerical type and vice versa (wherever applicable). Many a times, raw data, although numeric, is coded in string format. This feature provides a clean way to make sure all of the data is in numeric form.
* Strings are sequence of characters and can be tokenized.
* Strings and numbers can also be formatted.

In [ ]:
str = 'Hello World' 
print (str)    # prints complete string
print (str[0]) # prints first character of string
print (str[2:5])   #prints characters starting from 3rd to 5th 
print (str[2:])    #prints string starting from 3rd character
print (str*2)    #prints string two times
print (str + "TEST")   # prints concatenated string

In [ ]:
str ="hello"
print(str[-1])

a = 'this is a string'
b = a.replace('string','longer string')
print (a) 
print (b)

a = '20.3'
anum = int(a)
print (anum + anum)

a = "hi"
anum = int(a)
print (anum)

In [ ]:
a = "hi"
print (a)
print (len(a))

In [ ]:
string = "This is python"
strlist = list(string)
print(strlist)

format = '%.2f %s is $%d'
format %(4.5560,'Argentine Pesos',1)

In [ ]:
print(string)
print (string.count('s'))
print (string.split(' '))
print (string.upper())
print (string.lower())
print (string.swapcase())

In [ ]:
str1 = "    This is a bright, sunny day      "
print (str1.strip())
print (str1.lstrip())
print (str1.rstrip())
print (":".join(str1))
print (len(str1))

In [ ]:
school = 'ISB'
print ('S' in school)
'L' in school

In [ ]:
x='X-DSPAM-Confidence:   1.90323453434'
pos = x.find(':')
print(pos)
num=float(x[pos+1:])
print (num, type(num))

**Lists**

* Lists, along with dictionary, are perhaps most important data types.
* A list contains items separated by commas and enclosed within square brackets ([]).
* All the items belonging to a list can be of different data type.
* Lists are similar to arrays in C language.
* The plus ( + ) sign is the list concatenation operator, and the asterisk ( * ) is the repetition operator.

In [ ]:
list = [ 'abcd', 786 , 2.23, 'ISB', 70.2 ]
tinylist = [123, 'ISB']

print (list)          # Prints complete list
print (list[0])       # Prints first element of the list
print (list[1:3])     # Prints elements starting from 2nd till 3rd 
print (list[2:])      # Prints elements starting from 3rd element
print (tinylist * 2)  # Prints list two times
print (list + tinylist) # Prints concatenated lists
print (len(list))

In [ ]:
alist = [ 'abcd', 786 , 2.23, 'ISB', 70.2 ]
blist = alist
alist = alist*2
print (alist)

In [ ]:
list = ['Ajay', 'Vijay', 'Ramesh']
list.append('Sujay')         
list.insert(0, 'NewGuy')       
list.extend(['Guy1', 'Guy2']) 
print (list)  
print (list.index('Guy1')) 
list.remove('Guy1')
list.pop(1)
print (list)

In [ ]:
nums = range(5)    # range is a built-in function that creates a list of integers
print (nums)         # Prints "[0, 1, 2, 3, 4]"
print (nums[2:4])    # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print (nums[2:])     # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print (nums[:2])     # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print (nums[:]) # Get a slice of the whole list; prints ["0, 1, 2, 3, 4]"
print (nums)
print (nums[:-1])    # Slice indices can be negative; prints ["0, 1, 2, 3]"

In [ ]:
#Sorting
numberlist = [1, 5, 23, 1 ,54,2, 54,23, 54,76, 76,34,87]
numberlist.sort()
print(numberlist)
print (len(numberlist))
print (max(numberlist))
print (min(numberlist))

In [ ]:
string = ['abcd', 'efg', 'hijk', 'lmn']
print (sorted(string, key=len))

In [ ]:
#You can even pass your own function
string = ['abcg', 'eff', 'hijd', 'lmi']

def func1(l):
    return l[-1]


print (sorted(string, key=func1))

**Dictionary**

+ One of the most important built-in data structure.
+ Python's dictionaries are kind of hash tables.
+ They work like associative arrays and consist of key-value pairs. 
+ A dictionary key can be almost any Python type, but are usually numbers or strings. 
+ Values, on the other hand, can be any arbitrary Python object.
+ Dictionaries are enclosed by curly braces ( { } ) and values can be assigned and accessed using square braces ( [] ).

In [ ]:
dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"
tinydict = {'name': 'isb','code':6734, 'dept': 'sales'}

print (dict['one'])       # Prints value for 'one' key
print (dict[2])           # Prints value for 2 key
print (tinydict)          # Prints complete dictionary
print (tinydict.keys())   # Prints all the keys
print (tinydict.values()) # Prints all the values

**Sets**

A set is an unordered collection of distinct elements

In [ ]:
animals = {'cat', 'dog'}
print ('cat' in animals)   # Check if an element is in a set; prints "True"
print ('fish' in animals)  # prints "False"

In [ ]:
animals.add('fish')      # Add an element to a set
print('fish' in animals)
print(len(animals) )      # Number of elements in a set;

In [ ]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print (len(animals))       
animals.remove('cat')    # Remove an element from a set
print (len(animals))

**Data type conversion**

+ Data from one type can be converted into another type using conversion operators.
+ Comes in handy when data is not coded in proper format (number coded as string, date coded as string)
+ int(variable) - converts variable to integer 
+ str(variable) - converts variable to string 
+ float(variable) - converts variable to float (number with decimal)

**Operators**

+ + (plus) : Adds two objects 
+ - (minus) Gives the subtraction of one number from the other; if the first operand is absent it is assumed to be zero.
+ * (multiply) Gives the multiplication of the two numbers or returns the string repeated that many times.
+ ** (power) Returns x to the power of y
+ / (divide) Divide x by y
+ // (floor division) Returns the floor of the quotient
+ % (modulo) Returns the remainder of the division
+ < (less than) Returns whether x is less than y. All comparison operators return True or False. Note the capitalization of these names.
+ > (greater than) Returns whether x is greater than y
+ <= (less than or equal to) Returns whether x is less than or equal to y
+ >= (greater than or equal to) Returns whether x is greater than or equal to y
+ == (equal to) Compares if the objects are equal
+ != (not equal to) Compares if the objects are not equal
+ not (boolean NOT) If x is True, it returns False. If x is False, it returns True.
+ and (boolean AND) x and y returns False if x is False, else it returns evaluation of y
+ or (boolean OR) If x is True, it returns True, else it returns evaluation of y

In [ ]:
a = 6
b = 7
c = 42
print (1, a == 6)
print (2, a == 7)
print (3, a == 6 and b == 7)
print (4, a == 7 and b == 7)
print (5, not a == 7 and b == 7)
print (6, a == 7 or b == 7)
print (7, a == 7 or b == 6)
print (8, not (a == 7 and b == 6))
print (9, not a == 7 and b == 6)

**Conditional Statements**

**If-statement**

The if statement is used to check a condition: if the condition is true, we run a block of statements (called the if-block), else we process another block of statements (called the else-block). The else clause is optional.

In [ ]:
a = 23
if a >= 22:

   print("if")

In [ ]:
a = 20
if a >= 22:

   print("if")
   print("one more statement")
elif a >= 21:
   print("elif")
else:
   print("else")

In [ ]:
#Testing for an element in list
list = ['Ajay', 'Vijay', 'Ramesh']
if 'Vijay' in list:
    print ('Found Vijay')

**While-statement**

The while statement allows you to repeatedly execute a block of statements as long as a condition is true. A while statement is an example of what is called a looping statement. A while statement can have an optional else clause.

In [ ]:
count = 0
while (count < 9):
   print ('The count is:', count)
   count = count + 1

print ("End of while loop!")

**For-statement**

The for..in statement is another looping statement which iterates over a sequence of objects i.e. go through each item in a sequence. A sequence is just an ordered collection of items.

In [ ]:
range(1,5,1)

In [ ]:
for i in range(1,6,2):
    print (i)
#else:
#   print "The for loop is over"

In [ ]:
#Traversing a list
#What is the output
numbers = [2, 3, 5]
sum = 0
for num in numbers:
    sum += num  #sum = sum+num
print (sum)

In [ ]:
numbers = [2, 3, 5]
getsum = [ i+2 for i in numbers ]
print (getsum)

In [ ]:
numbers = [2, 3, 5]
getnum = [ i+2 for i in numbers if i<5]
print (getnum)

**Break statement**

The break statement is used to break out of a loop statement i.e. stop the execution of a looping statement, even if the loop condition has not become False or the sequence of items has not been completely iterated over.

An important note is that if you break out of a for or while loop, any corresponding loop else block is not executed.

In [ ]:
for i in range(1,10):
       if i == 5:
           break
       print (i)
print('Done')

**Functions**

+ Functions are reusable piece of software.
+ Block of statements that accepts some arguments, perform some functionality, and provide the output.
+ Defined using def keyword
+ Similar to functions in R.
+ For example, implement code to perform two way clustering once and can be used again in the same program. 
+ We will look at functions for a number of features (Fama Mac Beth regression, two way clustering, industry code classification) in subsequent sessions. 
+ A function can take arguments.
+ Arguments are specified within parentheses in function definition separated by commas.
+ It is also possible to assign default values to parameters in order to make the program flexible and not behave in an unexpected manner.
+ One of the most powerful feature of functions is that it allows you to pass any number of arguments and you do not have to worry about specifying the number when writing the function. This feature becomes extremely important when dealing with lists or input data where you do not know number of data observations before hand.
+ Scope of variables defined inside a function is local i.e. they cannot be used outside of a function.

In [ ]:
def sayHello():
    print('Hello World!') # block belonging to the function
# End of function #

sayHello()

In [ ]:
def printMax(a, b):
   if a > b:
       print(a, 'is maximum')
   elif a == b:
       print(a, 'is equal to', b)
   else:
       print(b, 'is maximum')

printMax(3, 4)

In [ ]:
def say(message, times = 1):
   print(message * times)

say('Hello')
say('World', 5)

In [ ]:
def func(a, b=5, c=10):
   print('a is', a, 'and b is', b, 'and c is', c)
func(3, 7)
func(25, c=24)
func(c=50, a=100)

In [ ]:
x = 50
def func(x):
   print('x is', x)
   x = 2
   print('Changed local x to', x)
func(x)
print('x is still', x)

In [ ]:
def total(initial=5, *numbers, **keywords):
   count = initial
   for number in numbers:
       count += number
   for key in keywords:
       count += keywords[key]
   return count

print(total(10, 1, 2, 3, vegetables=50, fruits=100))

**Modules**

+ Functions can be used in the same program. 
+ If you want to use function (s) in other programs, make use of modules.
+ Modules can be imported in other programs and functions contained in those modules can be used.
+ Simplest way to create a module is to write a .py file with functions defined in that file.
+ Other way is to import using byte-compiled .pyc files.

In [ ]:
import os
print (os.getcwd())
import math
x = -25
print(math.fabs(x))
print(math.factorial(abs(x)))

In [ ]:
import mymodule
from mymodule import * #import mymodule
print(sayhi())


numb = input("Enter a non negative number")
num_factorial = factorial(int(numb))
print(num_factorial)

**Writing first program**

+ Source files .py extension, and can be run from command prompt by using python filename.py (optional arguments) command. 
+ Examine name.py. 
+ First line imports modules
+ Next line defines a main() function. We can specify command line arguments. Command line args are in sys.argv[1], sys.argv[2]
+ sys.argv[0] is the script name itself and can be ignored
+ name = 'main' starts the program. 
+ When a Python file is run directly, the special variable "__name__" is set to "__main__". Therefore, it's common to have the boilerplate if __name__ ==... shown above to call a main() function when the module is run directly, but not when the module is imported by some other module.

In [ ]:
#Run name.py
%run "/Users/suppi/Documents/Peeyush/CBA/B14/Pre-Term Python/name2.py"

**Exception Handling**

**Exceptions**

+ An exception is an event that interrupts the ordinary sequential processing of a program.
+ For example, what if you are going to read a file and the file does not exist? Or what if you accidentally deleted it when the program was running? Similarly, what if your program had some invalid statements? Such situations are handled using exceptions.

**Handling Exceptions**

+ We can handle exceptions using the try..except statement. 
+ We basically put our usual statements within the try-block and put all our error handlers in the except-block.

In [ ]:
def avg( numList ):
    """Raises TypeError or ZeroDivisionError exceptions."""
    sum= 0
    for v in numList:
        sum = sum + v
    return float(sum)/len(numList)

def avgReport(numList):
     try:
         m= avg(numList)
         print ("Average = ", m)
     except (TypeError, ex):
         print ("TypeError:", ex)
     except (ZeroDivisionError, ex):
         print ("ZeroDivisionError:", ex)

                    
list1 = [10,20,30,40]
list2 = []
list3 = [10,20,30,'abc']

avgReport(list1)
print(avgReport(list2))
print(avgReport(list3))

**Try..Finally**

+ Suppose you are reading a file in your program. How do you ensure that the file object is closed properly whether or not an exception was raised? This can be done using the finally block.
+ This final step will be performed before the try block is finished, either normally or by any exception.
+ The finally clause is always executed. 
+ This includes all three possible cases: if the try block finishes with no exceptions; if an exception is raised and handled; and if an exception is raised but not handled. 
+ This last case means that every nested try statement with a finally clause will have that finally clause executed.
+ Use a finally clause to close files, release locks, close database connections, write final log messages, and other kinds of final operations. 
+ In the following example, we use the finally clause to write a final log message.

In [ ]:
def avgReport( numList ):
    try:
        print ("Start avgReport")
        m= avg(numList)
        print ("Average = ", m)
    except TypeError, ex:
        print ("TypeError: ", ex)
    except ZeroDivisionError, ex:
        print ("ZeroDivisionError: ", ex)
    finally:
         print ("Finish avgReport")

list1 = [10,20,30,40]
list2 = []
list3 = [10,20,30,'abc']

avgReport(list2)

In [ ]:
**Some common built-in exceptions**

exception KeyboardInterrupt
 This is raised when a user hits ctrl-C to send an interrupt signal to the Python interpreter. 

exception AttributeError
 Attribute not found in an object.

exception EOFError
 Read beyond end of file.

exception FloatingPointError
 Floating point operation failed.

exception IOError
 I/O operation failed.

exception IndexError
 Sequence index out of range.

exception KeyError
 Mapping key not found.

exception TypeError
 Inappropriate argument type.

exception ValueError
 Inappropriate argument value (of correct type).

exception ZeroDivisionError
 Second argument to a division or modulo operation was zero.

exception MemoryError
 Out of memory.

exception RuntimeError
 Unspecified run-time error.

exception SystemError
 Internal error in the Python interpreter

exception ImportError
 Import can’t find module, or can’t find name in module.

exception IndentationError
 Improper indentation.

exception NameError
 Name not found globally.

exception SyntaxError
 Invalid syntax.

exception UnboundLocalError
 Local name referenced but not bound to a value.

**Classes**

Python is an object oriented programming language. Almost everything in Python is an object, with its properties and methods. A Class is like an object constructor, or a "blueprint" for creating objects.

In [ ]:
class MyClass:
  x = 5

p1 = MyClass()
print(p1.x)

Example above is very simplistic in nature, and not really useful in real life applications.

To understand the meaning of classes we have to understand the built-in __init__() function.

All classes have a function called __init__(), which is always executed when the class is being initiated.

Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created.

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Peeyush", 32)

print(p1.name)
print(p1.age)

In [ ]:
#Objects can also contain methods. Methods in objects are functions that belong to the object.
class Greeter:

    # Constructor
    def __init__(self, name):
        self.name = name  # Create an instance variable

    # Instance method
    def greet(self, loud=False):
        if loud:
            print ('HELLO, %s!' % self.name.upper())
        else:
            print ('Hello, %s' % self.name)

g = Greeter('Peeyush')  # Construct an instance of the Greeter class
g.greet()            # Call an instance method; prints "Hello, Fred"
g.greet(loud=True)   # Call an instance method; prints "HELLO, FRED!"

In [ ]:
#The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.
#It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class

class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("Peeyush", 32)
p1.myfunc()

In [ ]:
class Customer(object):
    """A customer of ABC Bank with a checking account. Customers have the
    following properties:

    Attributes:
        name: A string representing the customer's name.
        balance: A float tracking the current balance of the customer's account.
    """

    def __init__(self, name, balance=0.0):
        """Return a Customer object whose name is *name* and starting
        balance is *balance*."""
        self.name = name
        self.balance = balance

    def withdraw(self, amount):
        """Return the balance remaining after withdrawing *amount*
        dollars."""
        if amount > self.balance:
            raise RuntimeError('Amount greater than available balance.')
        self.balance -= amount
        return self.balance

    def deposit(self, amount):
        """Return the balance remaining after depositing *amount*
        dollars."""
        self.balance += amount
        return self.balance
    
p1 = Customer("Peeyush",200)
p1.deposit(300)
print(p1.balance)
p1.withdraw(400)
print(p1.balance)


p2 = Customer("B13",2000000)
p2.deposit(300000)
print(p2.balance)
p2.withdraw(400000)
print(p2.balance)

**Matplotlib:**

-->matplotlib is a plotting library for the Python programming language and its numerical mathematics extension NumPy
-->pyplot provides a convenient interface to the matplotlib object-oriented plotting library. It is modeled closely after Matlab(TM). Therefore, the majority of plotting commands in pyplot have Matlab(TM) analogs with similar arguments.

In [ ]:
#Line plot
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
a = np.linspace(0,10,100)
b = np.exp(-a)
plt.plot(a,b)
plt.show()

In [ ]:
#Histogram
from numpy.random import normal,rand
x = normal(size=200)
plt.hist(x,bins=30)
plt.show()

In [ ]:
#Scatter Plot
import numpy as np
import matplotlib.pyplot as plt
from numpy.random import normal,rand
a = rand(100)
b = rand(100)
plt.scatter(a,b)
plt.show()

In [ ]:
#Pie Chart
import numpy as np
import matplotlib.pyplot as plt
n = 20
Z = np.random.uniform(0,1,n)
plt.pie(Z)
plt.show()

In [ ]:
#3D Plot
from matplotlib import cm
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
import numpy as np
fig = plt.figure()
ax = fig.gca(projection='3d')
X = np.arange(-5, 5, 0.25)
Y = np.arange(-5, 5, 0.25)
X, Y = np.meshgrid(X, Y)
R = np.sqrt(X**2 + Y**2)
Z = np.sin(R)
surf = ax.plot_surface(X, Y, Z, rstride=1, cstride=1, cmap=cm.coolwarm)
plt.show()

In [ ]:
# Imports
import numpy as np
import matplotlib.pyplot as plt

# Create a new figure of size 8x6 points, using 100 dots per inch
plt.figure(figsize=(8,6), dpi=80)

# Create a new subplot from a grid of 1x1
plt.subplot(111)

X = np.linspace(-np.pi, np.pi, 256,endpoint=True)
C,S = np.cos(X), np.sin(X)

# Plot cosine using blue color with a continuous line of width 1 (pixels)
plt.plot(X, C, color="blue", linewidth=1.0, linestyle="-")

# Plot sine using green color with a continuous line of width 1 (pixels)
plt.plot(X, S, color="green", linewidth=1.0, linestyle="-")

# Set x limits
plt.xlim(-4.0,4.0)

# Set x ticks
plt.xticks(np.linspace(-4,4,9,endpoint=True))

# Set y limits
plt.ylim(-1.0,1.0)

# Set y ticks
plt.yticks(np.linspace(-1,1,5,endpoint=True))

# Show result on screen
plt.show()

**JSON:**

The json library can parse JSON from strings or files. The library parses JSON into a Python dictionary or list. It can also convert Python dictionaries or lists into JSON strings.

Parsing JSON:
Take the following string containing JSON data:

In [ ]:
json_string = '{"first_name": "Guido", "last_name":"Rossum"}'

It can be parsed like this:

In [ ]:
import json
json_string = '{"first_name": "Guido", "last_name":"Rossum"}'
parsed_json = json.loads(json_string)
print(parsed_json['first_name'])

You can also convert the following to JSON:

In [ ]:
d = {
    'first_name': 'Guido',
    'second_name': 'Rossum',
    'titles': ['BDFL', 'Developer'],
}

print(json.dumps(d))

**Introduction to NumPy**

NumPy (short form for Numerical Python) is the most fundamental package designed for scientific computing and data analysis. Most of the other packages such as pandas, statsmodels are built on top of it, and is an important package to know and learn about. At the heart of NumPy is a data structure called **ndarray**. ndarray is a basically a multi-dimensional array that is built specifically for the purpose of numerical data analysis. Python also has array capabilities, but they are more generic. The advantage of using ndarray is that processing is extremely efficient and fast. 

You can perform standard mathematical operations on either individual elements or complete array. The range of functions covered is linear algebra, statistical operations, and other specialized mathematical operations. For our purpose, we need to know about ndarray and the range of mathematical functions that are relevant to our research purpose. If you already know languages such as C, Fortran, then you can integrate NumPy code with code written in these languages and can pass NumPy arrays seamlessly. 

From an overall perspective, understanding of NumPy will help us in using pandas effectively as it is built on top of NumPy and frequently we will also be using functions of NumPy in research work.

Possible application of NumPy package in research work are:

+ Algorithmic operations such as sorting, grouping and set operations
+ Performing repetitive operations on whole arrays of data without using loops
+ Data merging and alignment operations
+ Data indexing, filtering, and transformation on individual elements or whole arrays
+ Data summarization and descriptive statistics

**Installing NumPy**

In order to check if NumPy is installed, go to Package Manager and type NumPy. You will get a list of packages with names closely matching to NumPy. For our purpose, we need to focus on package named numpy 1.xx. If the package is not installed, click on Install. 

**Importing NumPy**

In order to be able to use NumPy, first import it using import statement

In [ ]:
import numpy as np

The above statement will import all of NumPy into your workspace. For starters its good, but if you are doing performance intensive work, then saving space is of importance. In such cases, you can import specific modules of NumPy by using

In [ ]:
from numpy import array

ndarray The most important data structure in NumPy is an n-dimensional array object. Using ndarray, you can store large multidimensional datasets in Python. Being an array, you can perform mathematical operations on these arrays either one element at a time or on complete arrays without using loops. The way to initialize an array object is

In [ ]:
a = array((1,2,3,4,5))    #initializes an array a and assigns values to it
b = array((10,20,30,40,50)) # initializes another array b
print(a) 
print(b)
print(a+b) 
print (a+5) 
print (a**2)

In [ ]:
c = array(np.arange(15))   #arange function here works as a sequence or counter
anarray = array(np.arange(1,15,2)) 
onemorearray = array(np.linspace(1,10,15)) 
print(c)
print(anarray)
print(onemorearray)

With each ndarray are associated two attributes: shape of the array, and type of the array. The shape of the array tells you about dimensionality of the array (rows and columns), and type of the array tells you about the data type contained in the array.

In [ ]:
data = np.array((32,45,123,756,23,2123))
print(data.shape)
print(data.dtype)
print(data.size)

In [ ]:
data2 = [[1,2,3,4],[5,6,7,8]]
arr2 = np.array(data2)
print(arr2)
arr2.shape

In [ ]:
np.zeros(50)

In [ ]:
np.zeros((3,5))

In [ ]:
np.ones(30)

In [ ]:
np.ones((5,9))

In [ ]:
np.eye(5) # creates a 5*5 identity matrix.

In [ ]:
np.diag(array([1,3,5,3,4,5]))

**pandas**

pandas is the primary package for performing data analysis tasks in Python. pandas derives its name from panel data analysis and is the fundamental package that provides relational data structures (think Excel, SQL type) and a host of capabilities to play with those data structures. It is the most widely used package in Python for data analysis tasks, and is very good to work with cross sectional, time series, and panel data analysis. Python sits on top of NumPy and can be used with NumPy arrays and the functions in NumPy. How is pandas suited for a researcher’s needs:

+ Has a tabular data structure that can hold both homogenous and heterogenous data.
+ Very good indexing capabilities that makes data alignment and merging easy.
+ Good time series functionality. No need to use different data structures for time series and cross sectional data. Allows for both ordered and unordered time-series data.
+ A host of statistical functions developed around NumPy and pandas that makes a researcher’s task easy and fast.
+ Programming is lot simpler and faster.
+ Easily handles data manipulation and cleaning.
+ Easy to expand and shorten data sets. Comprehensive merging, joins, and group by functionality to join multiple data sets.

**Installing pandas** 

In order to check if pandas is installed, go to Package Manager and type pandas. By default, pandas already comes installed with a distribution of Canopy. If the package is not installed, click on Install.

**Importing pandas**

In order to be able to use NumPy, first import it using import statement

In [ ]:
import pandas as pd #this will import pandas into your workspace

In [ ]:
import numpy as np  #we will be using numpy functions so import numpy

**Data Structures in pandas**

There are two basic data structures in pandas: Series and DataFrame

**Series:** It is similar to a NumPy 1-dimensional array. In addition to the values that are specified by the programmer, pandas attaches a label to each of the values. If the labels are not provided by the programmer, then pandas assigns labels ( 0 for first element, 1 for second element and so on). A benefit of assigning labels to data values is that it becomes easier to perform manipulations on the dataset as the whole dataset becomes more of a dictionary where each value is associated with a label.

In [ ]:
series1 = pd.Series([10,20,30,40])
series1

In [ ]:
series1.values

In [ ]:
series1.index

If you want to specify custom index values rather than the default ones provided, you can do so using the following command

In [ ]:
series2 = pd.Series([10,20,30,40,50], index=['one','two','three','four','five'])
series2

The ways of accesing elements in a Series object are similar to what we have seen in NumPy, and you can perform NumPy operations on Series data arrays.

In [ ]:
series2[2]

In [ ]:
series2['three']

In [ ]:
series2[['one', 'three', 'five']]

In [ ]:
series2[[0,1,3]]

In [ ]:
series2 + 4

In [ ]:
series2 ** 3

In [ ]:
series2[series2>30]

In [ ]:
np.sqrt(series2)

If you have a dictionary, you can create a Series data structure from that dictionary. Suppose you are interested in EPS values for firms and the values come from different sources and is not clean. In that case you dont have to worry about cleaning and aligning those values.

In [ ]:
years = [90, 91, 92, 93, 94, 95]
f1 = {90:8, 91:9, 92:7, 93:8, 94:9, 95:11}
firm1 = pd.Series(f1,index=years)
firm1

In [ ]:
f2 = {90:14,92:9, 93:13, 94:5}
firm2 = pd.Series(f2,index=years)
firm2

In [ ]:
f3 = {93:10, 94:12, 95: 13}
firm3 = pd.Series(f3,index=years)
firm3

NaN stands for missing or NA values in pandas. Make use of isnull() function to find out if there are any missing values in the data structure.

In [ ]:
pd.isnull(firm3)

A key feature of Series data is structures is that you don't have to worry about data alignment. For example, if we have run a word count program on two different files and we have the following data structures

In [ ]:
dict1 = {'finance': 10, 'earning': 5, 'debt':8}
dict2 = {'finance' : 8, 'compensation':4, 'earning': 9}
count1 = pd.Series(dict1)
count2 = pd.Series(dict2)
print(count1)
count2

If we want to calculate the sum of common words in combined files, then we dont have to worry about data alignment. If we want to include all words, then we can take care of NaN values and compute the sum. By default, Series data structure ignores NaN values. NaN values stand for missing data values.

In [ ]:
count1+count2

**Data Frame**

DataFrame is a tabular data structure in which data is laid out in rows and column format (similar to a CSV and SQL file), but it can also be used for higher dimensional data sets. The DataFrame object can contain homogenous and heterogenous values, and can be thought of as a logical extension of Series data structures. In contrast to Series, where there is one index, a DataFrame object has one index for column and one index for rows. This allows flexibility in accessing and manipulating data.

In [ ]:
data = pd.DataFrame({'price':[95, 25, 85, 41, 78],
                     'ticker':['AXP', 'CSCO', 'DIS', 'MSFT', 'WMT'],
                     'company':['American Express', 'Cisco', 'Walt Disney','Microsoft', 'Walmart']})
data

If a column is passed with no values, it will simply have NaN values

In order to access a column, simply mention the column name

In [ ]:
data['company']

In [ ]:
data.company

In [ ]:
data.ix[2]

In [ ]:
data.ix[data.ticker=='DIS']

In order to add additional columns

In [ ]:
data['Year'] = 2014
data

In [ ]:
data['pricesquared'] = data.price**2
data

In [ ]:
del data['pricesquared']
data

In [ ]:
data['pricesquared'] = np.NaN
data

In [ ]:
data['sequence'] = np.arange(1,6)
data

In [ ]:
data.values

In [ ]:
newdata = data.drop(2)

In [ ]:
newdata

In [ ]:
years = [90, 91, 92, 93, 94, 95]
f1 = {90:8, 91:9, 92:7, 93:8, 94:9, 95:11}
firm1 = pd.Series(f1,index=years)
firm1
f2 = {90:14,92:9, 93:13, 94:5}
firm2 = pd.Series(f2,index=years)
firm2
f3 = {93:10, 94:12, 95: 13}
firm3 = pd.Series(f3,index=years)
firm3


df1 = pd.DataFrame(columns=['Firm1','Firm2','Firm3'],index=years)
df1

df1.Firm1 = firm1
df1.Firm2 = firm2
df1.Firm3 = firm3
df1

In [ ]:
dft = df1.T
dft
del dft[90]
dft

You can pass a number of data structures to DataFrame such as a ndarray, lists, dict, Series, and another DataFrame. You can also reindex to confirm to data to a new index. Reindexing is a powerful feature that allows you to access data in a number of different ways, and also to confirm data to some new time series or other index.

In [ ]:
df1

In [ ]:
reindexdf1 = df1.reindex([88,89,90,91,92,93,94,95,96,97,98])
reindexdf1

In [ ]:
years1 = [90, 91, 92, 93, 94, 95]
f4 = {90:8, 91:9, 92:7, 93:8, 94:9, 95:11}
firm4 = pd.Series(f4,index=years)
f5 = {90:14,91:12, 92:9, 93:13, 94:5, 95:8}
firm5 = pd.Series(f5,index=years)
f6 = {90:8, 91: 9, 92:9,93:10, 94:12, 95: 13}
firm6 = pd.Series(f6,index=years)
df2 = pd.DataFrame(columns=['Firm1','Firm2','Firm3'],index=years1)
df2.Firm1 = firm4
df2.Firm2 = firm5
df2.Firm3 = firm6
df2

In [ ]:
reindexdf2 = df2.reindex([88,89,90,91,92,93,94,95,96,97,98], fill_value=0)
reindexdf2

Similarly, you have backfill (bfill) method to fill values backwards.

In [ ]:
df2

In [ ]:
reindexdf3 = df2.reindex([88,89,90,91,92,93,94,95,96,97,98], method='ffill')
reindexdf3

In [ ]:
reindexdf1

In [ ]:
reindexdf3

In [ ]:
reindexdf1.add(reindexdf3, fill_value=0)

You can use NumPy functions inside DataFrame objects.

In [ ]:
dataframe = pd.DataFrame(np.random.randn(3,3),columns=['one','two','three'])
dataframe

In [ ]:
np.abs(dataframe)

In [ ]:
f = lambda x:x.max()-x.min()
dataframe.apply(f)

In [ ]:
dataframe.apply(f,axis=1)

In [ ]:
g = lambda x: x - np.mean(x)
dataframe.apply(g)

In [ ]:
def f(x):
    return pd.Series([np.mean(x), x.max(), x.min()], index=['mean','max','min'])
dataframe.apply(f,axis=1)

In [ ]:
dataframe = pd.DataFrame(np.random.randn(3,3),columns=['one','two','three'])
dataframe

In [ ]:
dataframe.sort_index(by='one')

In [ ]:
dataframe.sort_index(by=['one','two'])

In [ ]:
dataframe.sum()

In [ ]:
dataframe.sum(axis=1)

In [ ]:
dataframe.cumsum(axis=1)

In [ ]:
dataframe.describe()

If you have non-numeric data, then applying describe function would produce statistics such as count, unique, frequency. In addition to this, you can also calculate skewness (skew), kurtosis (kurt), percent changes, difference, and other statistics.

**Missing Data**

pandas have a number of features to deal with missing data. We have seen an example of the case of descriptive statistics, where missing values are not taken into account while calculating the descriptive statistics. Missing data is denoted by NaN.

In [ ]:
years = [90, 91, 92, 93, 94, 95]
f1 = {90:8, 91:9, 92:7, 93:8, 94:9, 95:11}
firm1 = pd.Series(f1,index=years)
firm1
f2 = {90:14,92:9, 93:13, 94:5}
firm2 = pd.Series(f2,index=years)
firm2
f3 = {93:10, 94:12, 95: 13}
firm3 = pd.Series(f3,index=years)
firm3
df3 = pd.DataFrame(columns=['Firm1','Firm2','Firm3'],index=years)
df3
df3.Firm1 = firm1
df3.Firm2 = firm2
df3.Firm3 = firm3
df3

In [ ]:
firm2

In [ ]:
nadeleted = firm2.dropna()
nadeleted

In [ ]:
df3

In case of DataFrame, if you use dropna, it deletes entire row by default. Another way is to drop only those rows that are all NA. If you want to drop columns, pass axis=1

In [ ]:
cleandf3 = df3.dropna()

In [ ]:
cleandf3

In [ ]:
clean2 = df3.dropna(how='all')
clean2

In [ ]:
columndrop = df3.dropna(axis=1)
columndrop

In [ ]:
df3

In [ ]:
thresholddf = df3.dropna(thresh=2)
thresholddf

In [ ]:
fillna1 = df3.fillna(5)
fillna1

In [ ]:
df3

In [ ]:
fillna2 = df3.fillna({'Firm1':8, 'Firm2': 10, 'Firm3':14})
fillna2

In [ ]:
df3

In [ ]:
fillna3 = df3.fillna(method='ffill')
fillna3

In [ ]:
fillna4 = df3.fillna(method='bfill',limit=2)
fillna4

In [ ]:
fillna5 = df3.fillna(df3.mean())
fillna5

**Hierarchical Indexing**

Hierarchical indexing allows you to have index on an index (multiple index). It is an important feature of pandas using which you can select subsets of data and perform independent analyses on them. For example, suppose you have firm prices data and the data is indexed by firm name. On top of that, you can index firms by industry. Thus, industry becomes an index on top of firms. You can then perform analyses either on individual firm, or on group of firms in an industry, or on the whole dataset.

In [ ]:
h_i_data = pd.Series(np.random.randn(10),index=[['Ind1','Ind1','Ind1','Ind1','Ind2','Ind2','Ind2','Ind3','Ind3','Ind3'],
                                              [1,2,3,4,1,2,3,1,2,3]])
h_i_data

In [ ]:
h_i_data['Ind3']

In [ ]:
h_i_data['Ind1':'Ind3']

In [ ]:
h_i_data[['Ind1','Ind3']]

In [ ]:
h_i_data[:,3]

In [ ]:
h_i_data[:,4]

In [ ]:
h_i_data.unstack()

In [ ]:
h_i_data.unstack().stack()

In [ ]:
h_i_data.sum()

In [ ]:
h_i_data.sum(level=1)

In [ ]:
h_i_data.sum(level=0)

In [ ]:
h_i_data

**IO in pandas**

In this section, we will focus on I/O from text files, csv, excel, and sql files as well as getting data from web such as Yahoo! Finance. Using functions in pandas, you can read data as a DataFrame object. 

**Reading a csv file**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
roedatacsv = pd.read_csv('/Users/suppi/Documents/Peeyush/CBA/B14/Pre-Term Python/roedata.csv')
#roedatacsv
roedatacsv.head()

If the file does not have a header, then you can either let pandas assign default headers or you can specify custom headers. If you want industry name to be the index of DataFrame, you can achieve that.

In [ ]:
roedatacsv = pd.read_csv('/Users/suppi/Documents/Peeyush/CBA/B14/Pre-Term Python/roedata.csv', index_col = 'Industry Name' )
roedatacsv

In [ ]:
roedatacsv = pd.read_csv('/Users/suppi/Documents/Peeyush/CBA/B14/Pre-Term Python/roedata.csv', usecols = ['Industry Name','ROE'] )
roedatacsv

In [ ]:
capm_dem_data = pd.read_table('/Users/suppi/Documents/Peeyush/CBA/B14/Pre-Term Python/capm_dem.dat', delimiter=' ',header = None)
capm_dem_data

In [ ]:
capm_dem_data = pd.read_table('/Users/suppi/Documents/Peeyush/CBA/B14/Pre-Term Python/capm_dem.dat', delimiter=' ',header = None)
capm_dem_data

In [ ]:
compustatdata = pd.read_csv('/Users/suppi/Documents/Peeyush/CBA/B14/Pre-Term Python/compustat.csv', index_col = ['ggroup','gvkey'] )
compustatdata = compustatdata.sort_index(0,ascending=False)
compustatdata

In [ ]:
crsp_data = pd.read_table('/Users/suppi/Documents/Peeyush/CBA/B14/Pre-Term Python/crsp.output', sep='\s+',header = None)
crsp_data

**Reading Files in Chunks**

When dealing with very large files, sometimes it is handy to work with a subset of file or to work on file iteratively in smaller chunks. This can be done in pandas using chunksize and nrows.

In [ ]:
altdata = pd.read_csv('/Users/suppi/Documents/Peeyush/CBA/B14/Pre-Term Python/abcd.csv', chunksize=1000000 )
altdata

In [ ]:
#Try not to run this
altdata1 = pd.read_csv('/Users/suppi/Documents/Peeyush/CBA/B14/Pre-Term Python/abcd.csv')
altdata1.count()

Note that in previous case, you did not receive a table as output. Instead you were given an object. This is called a TextParser object. This object allows you to iterate over the complete compustat file according to the chunksize you mentioned. Let us suppose we want to aggregate ebitda values of the entire dataset.

In [ ]:
total = 0
for chunks in altdata:
    total += chunks['ESTIMATOR'].sum()
    print(total)
total

**Handling missing values**

Some types of missing values are automatically identified by pandas as NaN while importing the data. Those types are NA, NULL, -1.#IND. Additionally, you can also specify a list of missing values.

In [ ]:
roemissing = pd.read_csv('/Users/suppi/Documents/Peeyush/CBA/B14/Pre-Term Python/roemissing.csv', na_values=['NULL',-999] )
roemissing

In [ ]:
roemissing = pd.read_csv('/Users/suppi/Documents/Peeyush/CBA/B14/Pre-Term Python/roemissing.csv', na_values={'Number of firms':['NULL',-999],'ROE':['10000.00%']} )
roemissing

**Writing Data**

In [ ]:
roedata = pd.read_csv('/Users/suppi/Documents/Peeyush/CBA/B14/Pre-Term Python/roedata.csv')
roedata.to_csv('/Users/suppi/Documents/Peeyush/CBA/B14/Pre-Term Python/roedatawrite.csv')

In [ ]:
roedata = pd.read_csv('/Users/suppi/Documents/Peeyush/CBA/B14/Pre-Term Python/roedata.csv')
roedata.to_csv('/Users/suppi/Documents/Peeyush/CBA/B14/Pre-Term Python/roedatawrite2.csv', index=False, columns=['Industry Name','ROE'])

**Merging Data**

In [ ]:
import pandas as pd

In [ ]:
left_frame = pd.DataFrame({'key': range(5), 
                           'left_value': ['a', 'b', 'c', 'd', 'e']})
right_frame = pd.DataFrame({'key': range(2, 7), 
                           'right_value': ['f', 'g', 'h', 'i', 'j']})
print(left_frame)
print('\n')
print(right_frame)

In [ ]:
pd.merge(left_frame, right_frame, left_on='key', right_on = 'key', how='inner')

In [ ]:
pd.merge(left_frame, right_frame, on='key', how='left')

In [ ]:
pd.merge(left_frame, right_frame, on='key', how='right')

In [ ]:
pd.merge(left_frame, right_frame, on='key', how='outer')

In [ ]:
pd.concat([left_frame, right_frame])

In [ ]:
pd.concat([left_frame, right_frame], axis=1)

**Titanic Case Study**

Tragedy of Titanic is a widely known and discussed phenomenon, and innumerous stories have been told around Titanic. In this case study, we will try and shed some light on Titanic passengers with the help of official Titanic passengers data. Idea would be to try and see if we can make use of a number of variables to get some insights about survivors on Titanic and whether can we predict a passenger's survival based on other variables

In [ ]:
import pandas as pd
import matplotlib
import numpy as np

In [ ]:
%matplotlib inline

In [ ]:
from matplotlib import pyplot as plt

In [ ]:
matplotlib.style.use('ggplot')

In [ ]:
data = pd.read_csv('/Users/suppi/Documents/Peeyush/CBA/B14/Pre-Term Python/train.csv')
data.head(10)

In [ ]:
data.describe()

In [ ]:
#Treating Missing Values
data['Age'].fillna(data['Age'].median(), inplace=True)

In [ ]:
data.describe()

In [ ]:
#Gender and survival possibility
survived_sex = data[data['Survived']==1]['Sex'].value_counts()
print(survived_sex)
dead_sex = data[data['Survived']==0]['Sex'].value_counts()
print(dead_sex)
df = pd.DataFrame([survived_sex,dead_sex])
df.index = ['Survived','Dead']
df.plot(kind='bar',stacked=True, figsize=(15,8))

In [ ]:
#How about survival and age 
figure = plt.figure(figsize=(15,8))
plt.hist([data[data['Survived']==1]['Age'],data[data['Survived']==0]['Age']], stacked=True, color = ['g','r'],
         bins = 30,label = ['Survived','Dead'])
plt.xlabel('Age')
plt.ylabel('Number of passengers')
plt.legend()

In [ ]:
#What do you think about fare?
figure = plt.figure(figsize=(15,8))
plt.hist([data[data['Survived']==1]['Fare'],data[data['Survived']==0]['Fare']], stacked=True, color = ['g','r'],
         bins = 30,label = ['Survived','Dead'])
plt.xlabel('Fare')
plt.ylabel('Number of passengers')
plt.legend()

In [ ]:
plt.figure(figsize=(15,8))
ax = plt.subplot()
ax.scatter(data[data['Survived']==1]['Age'],data[data['Survived']==1]['Fare'],c='green',s=40)
ax.scatter(data[data['Survived']==0]['Age'],data[data['Survived']==0]['Fare'],c='red',s=40)
ax.set_xlabel('Age')
ax.set_ylabel('Fare')
ax.legend(('survived','dead'),scatterpoints=1,loc='upper right',fontsize=15,)

In [ ]:
ax = plt.subplot()
ax.set_ylabel('Average fare')
data.groupby('Pclass').mean()['Fare'].plot(kind='bar',figsize=(15,8), ax = ax)

In [ ]:
#What are you priors about survival and class of a passenger
survived_embark = data[data['Survived']==1]['Embarked'].value_counts()
dead_embark = data[data['Survived']==0]['Embarked'].value_counts()
df = pd.DataFrame([survived_embark,dead_embark])
df.index = ['Survived','Dead']
df.plot(kind='bar',stacked=True, figsize=(15,8))

In [ ]:
#What are you priors about survival and class of a passenger
survived_embark = data[data['Survived']==1]['Pclass'].value_counts()
dead_embark = data[data['Survived']==0]['Pclass'].value_counts()
df = pd.DataFrame([survived_embark,dead_embark])
df.index = ['Survived','Dead']
df.plot(kind='bar',stacked=True, figsize=(15,8))

In [ ]:
#Let us look at both training and test dataset now
def get_combined_data():
    # reading train data
    train = pd.read_csv('/Users/suppi/Documents/Peeyush/CBA/B14/Pre-Term Python/train.csv')
    
    # reading test data
    test = pd.read_csv('/Users/suppi/Documents/Peeyush/CBA/B14/Pre-Term Python/test.csv')

    # extracting and then removing the targets from the training data 
    targets = train.Survived
    train.drop('Survived',1,inplace=True)
    

    # merging train data and test data for future feature engineering
    combined = train.append(test)
    combined.reset_index(inplace=True)
    combined.drop('index',inplace=True,axis=1)
    
    return combined

In [ ]:
combined = get_combined_data()
combined.shape

In [ ]:
combined.head()

In [ ]:
#let us now try and get some more information
def get_titles():

    global combined
    
    # we extract the title from each name
    combined['Title'] = combined['Name'].map(lambda name:name.split(',')[1].split('.')[0].strip())
    
    # a map of more aggregated titles
    Title_Dictionary = {
                        "Capt":       "Officer",
                        "Col":        "Officer",
                        "Major":      "Officer",
                        "Jonkheer":   "Royalty",
                        "Don":        "Royalty",
                        "Sir" :       "Royalty",
                        "Dr":         "Officer",
                        "Rev":        "Officer",
                        "the Countess":"Royalty",
                        "Dona":       "Royalty",
                        "Mme":        "Mrs",
                        "Mlle":       "Miss",
                        "Ms":         "Mrs",
                        "Mr" :        "Mr",
                        "Mrs" :       "Mrs",
                        "Miss" :      "Miss",
                        "Master" :    "Master",
                        "Lady" :      "Royalty"

                        }
    
    # we map each title
    combined['Title'] = combined.Title.map(Title_Dictionary)

In [ ]:
get_titles()
combined.head()

In [ ]:
#Playing with ages a bit more creatively
grouped = combined.groupby(['Sex','Pclass','Title'])
grouped.median()

In [ ]:
def process_age():
    
    global combined
    
    # a function that fills the missing values of the Age variable
    
    def fillAges(row):
        if row['Sex']=='female' and row['Pclass'] == 1:
            if row['Title'] == 'Miss':
                return 30
            elif row['Title'] == 'Mrs':
                return 45
            elif row['Title'] == 'Officer':
                return 49
            elif row['Title'] == 'Royalty':
                return 39

        elif row['Sex']=='female' and row['Pclass'] == 2:
            if row['Title'] == 'Miss':
                return 20
            elif row['Title'] == 'Mrs':
                return 30

        elif row['Sex']=='female' and row['Pclass'] == 3:
            if row['Title'] == 'Miss':
                return 18
            elif row['Title'] == 'Mrs':
                return 31

        elif row['Sex']=='male' and row['Pclass'] == 1:
            if row['Title'] == 'Master':
                return 6
            elif row['Title'] == 'Mr':
                return 41.5
            elif row['Title'] == 'Officer':
                return 52
            elif row['Title'] == 'Royalty':
                return 40

        elif row['Sex']=='male' and row['Pclass'] == 2:
            if row['Title'] == 'Master':
                return 2
            elif row['Title'] == 'Mr':
                return 30
            elif row['Title'] == 'Officer':
                return 41.5

        elif row['Sex']=='male' and row['Pclass'] == 3:
            if row['Title'] == 'Master':
                return 6
            elif row['Title'] == 'Mr':
                return 26
    
    combined.Age = combined.apply(lambda r : fillAges(r) if np.isnan(r['Age']) else r['Age'], axis=1)

In [ ]:
process_age()

In [ ]:
combined.info()

In [ ]:
def process_names():
    
    global combined
    # we clean the Name variable
    combined.drop('Name',axis=1,inplace=True)
    
    # encoding in dummy variable
    titles_dummies = pd.get_dummies(combined['Title'],prefix='Title')
    combined = pd.concat([combined,titles_dummies],axis=1)
    
    # removing the title variable
    combined.drop('Title',axis=1,inplace=True)

In [ ]:
process_names()
combined.head()

In [ ]:
def process_fares():
    
    global combined
    # there's one missing fare value - replacing it with the mean.
    combined.Fare.fillna(combined.Fare.mean(),inplace=True)

In [ ]:
process_fares()
combined.head()

In [ ]:
def process_embarked():
    
    global combined
    # two missing embarked values - filling them with the most frequent one (S)
    combined.Embarked.fillna('S',inplace=True)
    
    # dummy encoding 
    embarked_dummies = pd.get_dummies(combined['Embarked'],prefix='Embarked')
    combined = pd.concat([combined,embarked_dummies],axis=1)
    combined.drop('Embarked',axis=1,inplace=True)

In [ ]:
process_embarked()
combined.head()

In [ ]:
def process_cabin():
    
    global combined
    
    # replacing missing cabins with U (for Uknown)
    combined.Cabin.fillna('U',inplace=True)
    
    # mapping each Cabin value with the cabin letter
    combined['Cabin'] = combined['Cabin'].map(lambda c : c[0])
    
    # dummy encoding ...
    cabin_dummies = pd.get_dummies(combined['Cabin'],prefix='Cabin')
    
    combined = pd.concat([combined,cabin_dummies],axis=1)
    
    combined.drop('Cabin',axis=1,inplace=True)

In [ ]:
process_cabin()
combined.head()

In [ ]:
combined.info()

In [ ]:
def process_sex():
    
    global combined
    # mapping string values to numerical one 
    combined['Sex'] = combined['Sex'].map({'male':1,'female':0})

In [ ]:
process_sex()
combined.head()

In [ ]:
def process_pclass():
    
    global combined
    # encoding into 3 categories:
    pclass_dummies = pd.get_dummies(combined['Pclass'],prefix="Pclass")
    
    # adding dummy variables
    combined = pd.concat([combined,pclass_dummies],axis=1)
    
    # removing "Pclass"
    
    combined.drop('Pclass',axis=1,inplace=True)

In [ ]:
process_pclass()

In [ ]:
def process_ticket():
    
    global combined
    
    # a function that extracts each prefix of the ticket, returns 'XXX' if no prefix (i.e the ticket is a digit)
    def cleanTicket(ticket):
        ticket = ticket.replace('.','')
        ticket = ticket.replace('/','')
        ticket = ticket.split()
        ticket = map(lambda t : t.strip() , ticket)
        ticket = list(filter(lambda t : not t.isdigit(), ticket))
        if len(ticket) > 0:
            return ticket[0]
        else: 
            return 'XXX'
    

    # Extracting dummy variables from tickets:

    combined['Ticket'] = combined['Ticket'].map(cleanTicket)
    tickets_dummies = pd.get_dummies(combined['Ticket'],prefix='Ticket')
    combined = pd.concat([combined, tickets_dummies],axis=1)
    combined.drop('Ticket',inplace=True,axis=1)

In [ ]:
process_ticket()

In [ ]:
def process_family():
    
    global combined
    # introducing a new feature : the size of families (including the passenger)
    combined['FamilySize'] = combined['Parch'] + combined['SibSp'] + 1
    
    # introducing other features based on the family size
    combined['Singleton'] = combined['FamilySize'].map(lambda s : 1 if s == 1 else 0)
    combined['SmallFamily'] = combined['FamilySize'].map(lambda s : 1 if 2<=s<=4 else 0)
    combined['LargeFamily'] = combined['FamilySize'].map(lambda s : 1 if 5<=s else 0)

In [ ]:
process_family()

In [ ]:
combined.head()

In [ ]:
def scale_all_features():
    
    global combined
    
    features = list(combined.columns)
    features.remove('PassengerId')
    combined[features] = combined[features].apply(lambda x: x/x.max(), axis=0)
    
    print('Features scaled successfully !')

In [ ]:
scale_all_features()
combined.head()

In [ ]:
combined.shape

**IMDB Case Study**

Techniques/questions to look at with this particular exmaple:

+ How to merge datasets and different merge techniques
+ List of movies that are rated most by users
+ In ratings, how to address ratings sparsity problem
+ Plot distributions
+ Identify different age groups and technique of binning
+ Subgrouping and unstacking
+ Differences in ratings by gender

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# pass in column names for each CSV
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('/Users/suppi/Documents/Peeyush/CBA/B14/Pre-Term Python/u.user', sep='|', names=u_cols,
                    encoding='latin-1')

r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('/Users/suppi/Documents/Peeyush/CBA/B14/Pre-Term Python/u.data', sep='\t', names=r_cols,
                      encoding='latin-1')

# the movies file contains columns indicating the movie's genres
# let's only load the first five columns of the file with usecols
m_cols = ['movie_id', 'title', 'release_date', 'video_release_date', 'imdb_url']
movies = pd.read_csv('/Users/suppi/Documents/Peeyush/CBA/B14/Pre-Term Python/u.item', sep='|', names=m_cols, usecols=range(5),
                     encoding='latin-1')

In [ ]:
users.shape

In [ ]:
users.head(10)

In [ ]:
movies.dtypes

In [ ]:
users.describe()

In [ ]:
ratings.describe()

In [ ]:
movies.head()

In [ ]:
#Selecting a subset of columns
movies[['movie_id','title']].head()

In [ ]:
#Another example of subsetting
users[users.age<40].tail(10)

In [ ]:
users[(users.age < 40) & (users.sex == 'F')].head(3)

In [ ]:
movies.head(2)

In [ ]:
ratings.head()

In [ ]:
movies.head()

In [ ]:
#Merge datasets
movie_ratings = pd.merge(movies, ratings)
lens = pd.merge(movie_ratings, users)

In [ ]:
lens.head()

In [ ]:
#Let us answer some simple questions now. 
#Most rated movies
most_rated = lens.groupby('title').size()
most_rated.head(10)

In [ ]:
lens.title.value_counts()[:20]

In [ ]:
#Highest rated movies

highest_ratings = lens.groupby('title').agg({'rating':[np.size,np.mean]})
highest_ratings.head(10)

In [ ]:
highest_ratings.sort_values([('rating', 'mean')], ascending=False).head()

In [ ]:
atleast_100 = highest_ratings['rating']['size'] >= 200
highest_ratings[atleast_100].sort_values([('rating', 'mean')], ascending=False)[:15]

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
plt.hist(users.age,bins=5)
plt.title("Distribution of users' ages")
plt.ylabel('count of users')
plt.xlabel('age');

In [ ]:
labels = ['0-9', '10-19', '20-29', '30-39', '40-49', '50-59', '60-69', '70-79']
lens['age_group'] = pd.cut(lens.age, range(0, 81, 10), right=False, labels=labels)
lens['age_group'].head()

In [ ]:
lens.groupby('age_group').agg({'rating': [np.size, np.mean]})

In [ ]:
most_100 = lens.groupby('movie_id').size()[:100]

In [ ]:
lens.set_index('movie_id', inplace=True)

In [ ]:
by_age = lens.loc[most_100.index].groupby(['title', 'age_group'])
by_age.rating.mean().head(15)

In [ ]:
by_age.rating.mean().unstack(1).fillna(0)[10:20]

In [ ]:
lens.reset_index('movie_id', inplace=True)

In [ ]:
pivoted = lens.pivot_table(index=['movie_id', 'title'],
                           columns=['sex'],
                           values='rating',
                           fill_value=0)
pivoted.head()

In [ ]:
pivoted['diff'] = pivoted.M - pivoted.F
pivoted.head()

In [ ]:
pivoted.reset_index('movie_id', inplace=True)

In [ ]:
disagreements = pivoted[pivoted.movie_id.isin(most_100.index)]['diff']
disagreements.head()

In [ ]:
disagreements.describe()

In [ ]:
disagree = disagreements.copy()
disagree=disagree.sort_values()
disagree.head()

In [ ]:
disagree.plot(kind='barh', figsize=[9, 15])
plt.title('Male vs. Female Avg. Ratings\n(Difference > 0 = Favored by Men)')
plt.ylabel('Title')
plt.xlabel('Average Rating Difference');

**Twitter Case Study**

Through this exercise, we will aim to

+ Understand type of data we receive from Twitter
+ How to remove columns in a data frame
+ Prepare a dataframe with following columns: Company Name, Shorthand name, Description of company, number of tweets by each company
+ Find out if a company manages multiple twitter accounts
+ Find out number of original tweets in the dataset and create a dataframe
+ Count hashtags
+ Generate factor variables in Python
+ Analyze reaction to tweets
+ Perform a basic modeling
+ Analyze time series behavior of tweets

In [ ]:
#We first import the packages that we would need for this case study
import numpy as np
import pandas as pd
from pandas import DataFrame
from pandas import Series
import matplotlib
%matplotlib inline

In [ ]:
#Reading in data and looking at the number of rows and columns using shape 
twitter = pd.read_csv('/Users/suppi/Documents/Peeyush/CBA/B14/Pre-Term Python/twitter_data.csv', sep=',')
twitter.shape

In [ ]:
twitter.head()

In [ ]:
#Removing columns we are not interested in
twitter = twitter.drop('created_at_text',1)
twitter = twitter.drop('tweet_id',1)

In [ ]:
#Identify unique user names that are tweeting
twitter['from_user_screen_name'].unique()

In [ ]:
len(twitter['from_user_screen_name'].unique())

In [ ]:
def f(x):
     return Series(dict(Number_of_tweets = x['content'].count(), 
                        Company=x['Company'].min(),
                        Description=x['from_user_description'].min(),
                        ))

In [ ]:
company_count = twitter.groupby('from_user_screen_name').apply(f) 
print(len(company_count))

In [ ]:
company_count

In [ ]:
#Let us see how many twitter handles each company uses
counts = company_count.groupby('Company').size()
counts

In [ ]:
#Number of tweets posted by each company. Any pattern here?
company_count = company_count.sort_values(['Number_of_tweets'], ascending=False)
company_count

In [ ]:
company_count['Number_of_tweets'].plot(kind='bar')

In [ ]:
import calendar

In [ ]:
twitter.head(2)

In [ ]:
twitter.dtypes

In [ ]:
twitter['created_at'].head()

In [ ]:
twitter['created_at'] = pd.to_datetime(twitter['created_at'])

In [ ]:
twitter = twitter.set_index(['created_at'])
twitter.head(2)

In [ ]:
def f(x):
     return Series(dict(Number_of_tweets = x['content'].count(), 
                        ))

In [ ]:
daily_count = twitter.groupby(twitter.index.date).apply(f)
print(len(daily_count))
daily_count.index.name = 'date'
daily_count.head(5)

In [ ]:
daily_plot = daily_count['Number_of_tweets'].plot(kind='line')

In [ ]:
weekday_count = twitter.groupby(twitter.index.weekday).apply(f)
print(len(weekday_count))
weekday_count

In [ ]:
hourly_count = twitter.groupby(twitter.index.hour).apply(f)
print(len(hourly_count))
hourly_count

In [ ]:
hourly_plot = hourly_count['Number_of_tweets'].plot()

In [ ]:
minute_count = twitter.groupby(twitter.index.minute).apply(f)
print(len(minute_count))
minute_count.head()

In [ ]:
minute_count.plot()

In [ ]:
second_count = twitter.groupby(twitter.index.second).apply(f)
print(len(second_count))
second_count.head()

In [ ]:
second_count.plot()