# AMPBA 2021 Winter - Python Assignment

## Deep Kamal Singh - deepkamal_singh_2021w@isb.edu
## Student ID: 000012020053

## 20-Oct-2020

**Q1. Suppose the cover price of a book is Rs. 200, but bookstores get a 25% discount. Shipping costs Rs. 40 for the first copy and Rs. 10 for each additional copy. Write a Python program to calculate the total wholesale cost for 60 copies.**

In [ ]:
#Answer to Q1
coverPrice=200
storeDiscount=1/4
shippingCostFirstCopy=40
shippingCostSubsequentCopy=10
copies=60
totalCost=copies*(coverPrice-coverPrice*storeDiscount)+shippingCostFirstCopy+shippingCostSubsequentCopy*(copies-1)
totalCost

**Q2. A number,x,is a power of y if it is divisible by y and x/y is a power of y. Write a function in Python that takes parameters x and y and returns True if x is a power of y.**

In [ ]:
def iCheckPower(x, y):
    #if x=y then its x^1=y , we are checking if remainder is 0 i.e y fully divides x, then recursively checking 
    return True if x == y or (((x % y) == 0) and iCheckPower((x / y), y)) else False

iCheckPower(65536,16)

**Q3. Write a function in Python that takes three parameters a, b, and c and returns their greatest common divisor.**

In [ ]:
def gcdFinder(a,b,c):
    def factors(n):
        # set () <= so we dont get repeating numbers
        # n**0.5 means taking square root of n, we are iterating i from 1 to sqrt of n, as all factors lie within Sqrt of a number 
        # we are iterating `factor` from 1 to n//i, 
        # Double slash operator // is used to get floor after division, so result is Integer
        # n%i is where we are checking if i'th iteration leaves 0 as remainder
        return set( factor for i in range(1, int(n**0.5) + 1) if n % i == 0 for factor in (i, n//i) )
    
    factorA = factors(a)
    factorB = factors(b)
    factorC = factors(c)
    #set intersection will result in common factors among a,b,c and Max will give us greatest common divisor/factor
    return max(factorA.intersection(factorB).intersection(factorC))

gcdFinder(106,53,106)

**Q4. Write a Python script that reads the current time and converts it to a time of day in hours, minutes, and seconds, plus the number of days since the epoch.**

In [ ]:
import time

t=time.time() #time.time() gives number of seconds since EPOC i.e 1 Jan 1970 00:00:00
day= t//86400 #1 day has 86400 seconds, `day` will store number of days since EPOCH
tt=t%86400    # remaining seconds of the day will be used to get Hour, minute and seconds

print('Days since EPOCH is',int(day),', Time(in UTC) is', int(tt//3600),":",int((tt%3600)//60),":", int(((tt%3600)%60)//60))

**Q 5.Write a function in Python that takes three integers as arguments, and that prints either “Yes” or “No”, depending on whether you can or cannot form a triangle from the given lengths.**
    
    Hint: If any of the three lengths is greater than the sum of the other two, then you cannot form a triangle. Otherwise, you can.

In [ ]:
def checkTriangle(a,b,c):
    #If any of the three lengths is greater than the sum of the other two, then its not a triangle.
    return  (c<(a+b)) and  (a<(b+c)) and (b<(a+c))

checkTriangle(32,19,16)

**Q6. The following functions are all intended to check whether a string contains any uppercase letters, but at least some of them are wrong. For each function, describe what the function actually does, assuming that the parameter is a string.**

In [ ]:
#(a)
#This function will iterate over all characters in provided string s
# further it checks if chars are in upper case using isupper() method
# when a uppercase char is encountered, it will return true hence loop will breakout and function will end.
def any_uppercase1(s): 
    for c in s:
        if c.isupper(): 
            return True
        else: 
            return False
#(b)
# This function will iterate over all characters in provided string s.
# However it will check if 'c' character constant is in uppercase with each iteration, instead of checking iteration variable c 
# further it will return String instead of boolean, 
# important to note that it doesnt matter what values are passed in this function, it'll always return 'False'

def any_uppercase2(s): 
    for c in s:
        if 'c'.isupper(): 
            return 'True'
        else:
            return 'False'
#(c)
# This function will iterate over all characters in provided string s.
# it will change value of `flag` to true or false depending upon current iteration character being in upper or lower
# however it keeps running the loop, thus it'll return True only if last character of provided string is in uppercase
# in all other case it will return False 
def any_uppercase3(s): 
    for c in s:
        flag = c.isupper() 
    return flag
#(d)

# This function will iterate over all characters in provided string s.
# it will change value of `flag` to True when it meets first uppercase letter in s
# there on it will always be True as `or` operation is applied,
# thus Function will return True if even single letter in the string is in uppercase, 
# this function does exactly what any_uppercase1 is doing , just with extra iterations.
def any_uppercase4(s): 
    flag = False
    for c in s:
        flag = flag or c.isupper()
    return flag
#(e)
# This function will iterate over all characters in provided string s.
# it will return False at first character it finds in lowercase
# if all chars are in uppercase then only it will return True

def any_uppercase5(s): 
    for c in s:
        if not c.isupper(): return False
    return True

**Q7. Write a function in Python that takes a list of numbers and returns the cumulative sum; that is, a new list where the nth element is the sum of the first n + 1 elements from the original list.**

Example:

    >>> t = [1, 2, 3]
    
    >>> cumulative_sum(t) [1, 3, 6]

In [ ]:
def cumSum(l):
    ret=list();
    val=0;
    for s in l:
        ret.append(s+val)
        val+=s
    return ret
    
cumSum([1,2,3])

**Q8. Write a Python program that reads a file, breaks each line into words, strips whitespace and punctuation from the words, and converts them to uppercase.**

    Hint : The string module provides a string named whitespace, which contains space, tab, new--‐line, etc., and punctuation which contains the punctuation characters.
    >>> import string
    >>> string.punctuation
    '!"#$%&'()*+,-­‐./:;<=>?@[\]^_`{|}~'
    
    Also, you might consider using the string methods strip, replace and translate.

In [ ]:
### CONTENT OF THE FILE ###
'''
Post management tools menu


Upgrade
Deep Kamal Singh
Adobe Tech Blog
ADOBE EXPERIENCE PLATFORM & ADOBE I/O

Magento 2.4 Enhanced security with Two-Factor authentication
In this article
Short theory about Magento’s Two-Factor Authentication.
A quick view of CLI Command to install Magento 2.4.0 for tl;dr; folks.
Setup Google Authenticator for Magento TFA (aka 2FA).
Create Magento Admin user with Google Authenticator selected for TFA.
Install Google Authenticator app (iOS | Android ) on Mobile and configure it for your local Magento access.
Login to Admin panel with TFA cleared like a boss (even if you don’t have email configured).
Two-factor authentication is now a well-proven standard for added security in the login process, and it makes perfect sense that Magento 2.4.0 has two-factor authentication enabled on admin panel logins by default. Configuring it is easier than you’d have thought.
We can install any two-factor authenticator provider in Magento using the standard composer require and module enable process, by default Magento Commerce 2.4 ships with these providers:
$ bin/magento security:tfa:providers
google: Google Authenticator
duo_security: Duo Security
authy: Authy
u2fkey: U2F (Yubikey and others)
And it’s up to the provider to decide how OTP will be generated and verifie`d`, 'once a provider is configured and linked with Magento, the OTP is generated by the provider’s tool which is disconnected from the Magento system, the OTP is then entered manually on the Magento login screen by Admin user - Magento hands over the entered digits to Provider’s Magento module for verification. OTP can be received via SMS, Email, SNS/SQS, FCM — and the most direct way is to 'use a generator/verifier app which makes the entire auth process independent of the aforementioned carrier technologies.
In this article, we will learn how to configure and enable TFA on Magento 2.4 exactly on [this] principle — you just need an Android or iOS device.
[Basic installation
]If you are trying your hands on freshly brewed hot and ready to serve Magento 2.4.0, then the first thing you’d notice is there’s no Web Setup wizard, like in previous versions. You have to do the installation over CLI. So, let me help you right away with a TL;DR ‘ready to fire’ install command (I assume you already have Magento 2.4.0 downloaded and trust you will be able to change values in arguments below as per your env)
magento setup:install --base-url="https://local.magento/" --db-host=localhost --db-name="magento" --db-user="dbuser" --db-password="dbpassword" --admin-firstname="Magento" --admin-lastname="Admin" --admin-email="magento@adobe.com" --admin-user="admin" --admin-password="xxyyzzaabbcc" --language="en_US" --currency="USD" --timezone="Asia/Kolkata" --use-rewrites=0 --backend-frontname="admin" --cleanup-database
Now that we have a Magento v2.4 installed and we can access the store-front and backend, we are going to login to Magento backend. This will ask for user and password, no big deal — but after we login successfully, we don’t see the dashboard this time, we will see a new Magento screen now:
Image for post
Bummer! right? well No actually, it’s easy to get the two-factor authentication working, read on
{If you have a mail server configured}you will receive a{n email} from your newly installed Magento 2.4 a link to configure your authenticator first. The first time you get an option to select between Google or Authy or any other enabled provider, for ease of use, just choose Google Authenticator. You will get a QR code image generated by Magento admin on the same screen just scan the QR through Google Authenticator app (iOS |Android ) and voila! you are good to go.
BUT what to do if you don’t have mail server like postfix or something similar configured on your Magento system, then there is no clear way to get the authenticator link (unless you have postfix or similar server running and you know how to extract mail logs and read the content of unsent stuck mail, then you might need to Base64 decode it and do some string editing to get the URL link),
No mail server? No problem!
At the Magento{ Two-Factor configuration screen, just take a deep }breath and mumble “I’ll be back,” and calmly log out.
And then here is what you can do —
Set Google as Two-factor auth provider in Database:
Login to MySQL console and first check if there is a security provider already set in core configs:
select * from core_config_data where path like '%provider%';
If the above response is Empty set (0.03 sec) , then go ahead and insert a config that conforms Magento to use Google as TFA provider:
insert into core_config_data(scope,scope_id,path,`value`) values ('default',0,'twofactorauth/general/force_providers','google');
'''
import string
filePath = '/Users/dks/Desktop/anHTML.html'
  
def punctuationReplacer(aLine):
    pns = string.punctuation
    for x in pns:aLine=aLine.replace(x,'')
    return aLine
        
#RESULT
res=[punctuationReplacer(aLine.strip().upper()) for aLine in open(filePath,'r').read().split('\n')]

#we are applying filter to remove blank entries that would otherwise return to blank lines
print('\n'.join(filter(None,res)))
#we notice that char ’ is not getting replaced, its differnt from ' char - 
# this is because string.punctuation does not have ’ character

**Q9. Write a program that searches a directory and all of its subdirectories recursively, and returns a list of complete paths for all files with a given suffix (like .mp3).**

    Hint: os.path provides several useful functions for manipulating file and path names.

In [ ]:
import os
import os.path as osPath

def beginSearch(rootPath, suffix):
    retList = []
    try:
        dirContent = os.listdir(rootPath)
        for aContent in dirContent:
            aPath = rootPath + "/" + aContent
            if osPath.isdir(aPath):
                retList += beginSearch(aPath,suffix)
            else:
                if aPath.endswith(suffix):
                    retList.append(aPath)
        return retList
    except:
        return retList
print([a for a in beginSearch('/Users/Deesingh/Documents', 'pdf')])

**Q10. Analyze Earthquakes**

The National Earthquake Information Center (NEIC) determines the location and size of all significant earthquakes that occur worldwide and disseminates this information immediately to national and international agencies, scientists, critical facilities, and the general public. The NEIC compiles and provides to scientists and to the public an extensive seismic database that serves as a foundation for scientific research through the operation of modern digital national and global seismograph networks and cooperative international agreements. The NEIC is the national data center and archive for earthquake information.
This dataset includes a record of the date, time, location, depth, magnitude, and source of every earthquake with a reported magnitude 5.5 or higher since 1965.
Conduct data analysis on the dataset and try to uncover meaningful and/or interesting insights from the dataset.

**Answer to Q10**

***Import relevant libraries***

In [ ]:
import pandas as pd
import numpy as np
import plotly.express as px
import datetime

***Loading dataset, and listing columns (variables)***

In [ ]:
import dateutil.parser as dateParser

eqDF=pd.read_csv('/Users/dks/Desktop/AMPBA/Python/Assignment/earthquake.csv')

#checking columns(variables) on Data Set
print(eqDF.shape);
eqDF.columns

***Lets see 5 point Summary of each numeric column***

In [ ]:
#lets study the data by doing a describe on entire DF, 
#describe() operation spreads and returns column stats of each col with numerical type
#we are summarizing the data using describe, this will provide univariate analysis of each data points
eqDF.describe()

***Insights from 5 point summary***

 - **Depth**: Max depth of recorded earthquake is 700 units. There is minimum value `-1.10` - which indicates something happened above ground level that caused the earthquake. On an average earthquakes are originated at 70.77 units below ground level, however 75% are with 54 units - this indicates there are outliers in data impacting the mean value. Similar analysis can be drawn with `Depth Seismic Stations` series
 
 - **Magnitude** - mean magnitude is 5.88 units, and std deviation is less than 0.5, further inter-quartile variations do not change higher than std dev, meaning the magnitude data is losely uniform - however there are outliers such as max value which is approximately `[mean + 40X(std dev)]`
 
 - **Magnitude Error** - errors are available in 327 observations out of 23412, indicates that probability of errors in magnitude is low, however not negligible, it can be correlated with Sources column to derive at error margin of a perticular source.
 
 - Though subject matter expertise is required to understand several columns (like `Azimuthal Gap`, `Horizontal Distance`, `Root Mean Square` etc) we can draw inferences by finding covariance and correlation between available values.

***Lets analyse covariance table of Data Set***

A covariance table is Covariance listingg of each variable with respect to other

In [ ]:
eqDF.cov()

***Lets analyse Correlation table also***

Correlation is Covariance divided by product of std Deviations, this ranges from -1 to +1 , correlation table is basically NxN matrix of correlations between each numeric columns

In [ ]:
eqDF.corr(method='pearson')

***Observations with moderate to high (> 0.2 or < -0.2) Correlation Coefficient (Pearson's)***

- `Latitude` with `Depth Seismic Stations` : 0.433 - shows moderate positive correlation
- `Latitude` with `Magnitude Sesmic Stations` : 0.315 - Shows moderate positive correlation
- `Latitude` with `Horizontal Distance`: -0.397 - Shows moderate negative correlation
- `Longitude` is not having a high +ve or -ve correlation with rest of data points
- `Depth` is also not having a high +ve or -ve correlation with rest of data points
- `Depth Error` is showing moderate correlation with `Depth Seismic Stations` of -0.320 ,and its showing High correlation with `Magnitude Error` of 0.618 and with `Horizontal Error` of 0.644 - we can infer that Error occurences are correlated with each other.
- `Depth Seismic Stations` is as noted earlier is correlated to `Latitude` with coeff. of `0.433`. It is also correlated to `Magnitude` with `0.440` coefficient value, this indicates that seismic stations are  near areas with high probability of Earthquakes, 
- `Depth Seismic Station`'s correlation coeff with `Depth Error`, `Magnitude Error` and `Horizontal Error` are all -ve
- `Magnitude Seismic Stations` is also correlated with `Latitude` coeff. value of 0.315 

likewise many inferences can be drawn with respect to correlation, however Subject Matter expertise will be required further.

***Now Lets plot `Magnitude` and other relevant stats over `Year`***

In [ ]:
#extracting year and assigning to new column - noticed that in 3 observations Date is formatted in different manner, lambda function will handle the format
eqDF['eventYear']=eqDF['Date'].apply(lambda dt:int(dt.split('/')[2] if len(dt)==10 else dt.split('-')[0])).sort_values(ascending=False)
eqDF.columns

In [ ]:
eqDF[['eventYear','Magnitude']].plot(x='eventYear',alpha=0.5)

In the YoY Earth quake occurances we can see there is a approximately cyclic pattern - but maginitudes are marginally increasing also YoY.

we can further analyze by grouping by year and plotting over count

In [ ]:
eqDF[['eventYear','Magnitude']].groupby(['eventYear']).count().plot(title="Magnitude over Year")

This indicates that magnitude of earthquakes are increasing over period of time OR data recording is becoming more accurate YoY.

let plot earthquake occurance over Latitude and Longitude

In [ ]:
eqDF[['Latitude','Magnitude']].groupby(['Latitude']).count().plot(title="Magnitude over Latitude")

In [ ]:
eqDF[['Longitude','Magnitude']].groupby(['Longitude']).count().plot(title="Magnitude over Longitude")

In [ ]:
# eqDF.plot(figsize=(15,4))
# eqDF.plot(subplots=True, figsize=(15,6))
# eqDF.plot(y=["Depth", "Magnitude"], figsize=(15,4))
eqDF.plot(x="Date", y=["Magnitude Error"])
# eqDF[['Longitude','Latitude']].plot.hist()

In above plot, it shows concentrated Magnitude errors after 2010 in time series, 
this may be the indicator that error margin was not recorded or some new mechanism was adopted to calculate errors in readings, alternatively (less likely) it may indicate some malfunction after 2010

Lets summarize further by date of occurance of events Grouping by date to get the count of occurance on each date

In [ ]:
#we are grouping by Type and summarizing the data - to get a gist of types of earthquakes included in the dataset
# this gives us information that there are primarily 4 types of events that cause earthquakes - naturally occuring earthquakes, Nuclear explosion, other explosion, and Rock burst
# there are 175 earthquakes caused by Nuclear Explosions - human caused
print(eqDF[['Type','Magnitude']].groupby(['Type']).describe())

***Plotting Earthquake occurances over world map***

Now we will use Plotly library to plot occurance over map and see if we can draw some insights

In [ ]:
#scatter_geo(data_frame, lat, lon, locations, locationmode, color, text, 
#     hover_name, hover_data, custom_data, size, animation_frame, animation_group, 
#     category_orders, labels, color_discrete_sequence, color_discrete_map, color_continuous_scale, 
#     range_color, color_continuous_midpoint, opacity, size_max, projection, scope, center, title, 
#     template, width, height)
fig = px.scatter_geo(data_frame=eqDF,color="Type",
                    lat=eqDF.Latitude,
                    lon=eqDF.Longitude,
                    hover_name="Magnitude",
                    title="Plotting Earthquakes,Nuclear explosions and others on geomap",
                    projection="natural earth")
fig.show()

**this gives us clear insight of Earthquake prone zones across the globe, a finer analysis can be made with these specific Latitude and Longitude loci to drawyearly and monthly trends and periodic patterns can be found if exists**

**Q11.The dataset contains data on Indian cities (sourced from Govt of India website) and has information about various characteristics.**

    Columns for the dataset are as follows:

    'name_of_city'	: Name of the City
    'state_code'	: State Code of the City 
    'state_name'	: State Name of the City
    'dist_code'	: District Code where the city belongs ( 99 means multiple District)
    'population_total'	: Total Population 
    'population_male'	: Male Population
    'population_female'	: Female Population
    '0--‐6_population_total'	: 0--‐6 Age Total Population 
    '0--‐6_population_male'	: 0--‐6 Age Male Population
    '0--‐6_population_female	: 0--‐6 Age Female Population 
    'literates_total'	: Total Literates 
    'literates_male'	: Male Literates
    'literates_female'	: Female Literates
    'sex_ratio'	: Sex Ratio
    'child_sex_ratio'	: Sex Ratio 0-6
    'effective_literacy_rate_total' : Literacy rate over Age 7
    'effective_literacy_rate_male'  : Male Literacy rate over Age 7
    'effective_literacy_rate_female': Female Literacy rate over Age 7
    'location'  : Lat,Lng
    'total_graduates'   : Total Number of Graduates
    'male_graduates'    : Male Graduates
    'female_graduates'  : Female Graduates

**Conduct data analysis on the dataset and try to uncover meaningful and/or interesting insights from the dataset. Before conducting the analyses state the questions that you would want to address from the dataset, and then conduct analyses accordingly.**

In [4]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plot

citiesDF=pd.read_csv('/Users/dks/Desktop/AMPBA/Python/Assignment/Indian_cities.csv')
print(citiesDF.columns)
citiesDF.describe()

Index(['name_of_city', 'state_code', 'state_name', 'dist_code',
       'population_total', 'population_male', 'population_female',
       '0-6_population_total', '0-6_population_male', '0-6_population_female',
       'literates_total', 'literates_male', 'literates_female', 'sex_ratio',
       'child_sex_ratio', 'effective_literacy_rate_total',
       'effective_literacy_rate_male', 'effective_literacy_rate_female',
       'location', 'total_graduates', 'male_graduates', 'female_graduates'],
      dtype='object')

,state_code,dist_code,population_total,population_male,population_female,0-6_population_total,0-6_population_male,0-6_population_female,literates_total,literates_male,literates_female,sex_ratio,child_sex_ratio,effective_literacy_rate_total,effective_literacy_rate_male,effective_literacy_rate_female,total_graduates,male_graduates,female_graduates
count,493.000000,493.000000,4.930000e+02,4.930000e+02,4.930000e+02,4.930000e+02,493.000000,493.000000,4.930000e+02,4.930000e+02,4.930000e+02,493.000000,493.000000,493.000000,493.000000,493.000000,4.930000e+02,4.930000e+02,4.930000e+02
mean,18.643002,16.782961,4.481124e+05,2.343468e+05,2.137656e+05,4.709285e+04,24849.527383,22243.320487,3.461527e+05,1.894384e+05,1.567143e+05,930.294118,902.332657,85.131460,89.920162,79.967181,6.620236e+04,3.771556e+04,2.848680e+04
std,9.297168,15.566131,1.033228e+06,5.487786e+05,4.848622e+05,1.050279e+05,55535.310272,49523.241379,8.220952e+05,4.534753e+05,3.690677e+05,55.849106,49.794689,6.186345,5.377492,7.577825,1.778187e+05,9.849574e+04,7.951556e+04
min,1.000000,1.000000,1.000360e+05,5.020100e+04,4.512600e+04,6.547000e+03,3406.000000,3107.000000,5.699800e+04,3.475100e+04,2.224700e+04,700.000000,762.000000,49.510000,52.270000,46.450000,2.532000e+03,1.703000e+03,8.290000e+02
25%,9.000000,7.000000,1.261420e+05,6.638400e+04,6.041100e+04,1.363900e+04,7221.000000,6457.000000,9.768700e+04,5.357800e+04,4.391400e+04,890.000000,868.000000,81.750000,87.280000,75.800000,1.527700e+04,9.289000e+03,6.114000e+03
50%,19.000000,13.000000,1.841330e+05,9.665500e+04,8.776800e+04,1.944000e+04,10342.000000,9172.000000,1.413290e+05,7.590600e+04,6.383600e+04,922.000000,903.000000,85.970000,91.180000,80.920000,2.395900e+04,1.404900e+04,9.558000e+03
75%,27.000000,21.000000,3.490330e+05,1.750550e+05,1.700260e+05,3.794500e+04,19982.000000,17954.000000,2.679000e+05,1.455480e+05,1.235030e+05,971.000000,942.000000,89.330000,93.400000,85.400000,5.036700e+04,2.787200e+04,2.086600e+04
max,35.000000,99.000000,1.247845e+07,6.736815e+06,5.741632e+06,1.209275e+06,647938.000000,561337.000000,1.023759e+07,5.727774e+06,4.509812e+06,1093.000000,1185.000000,98.800000,99.300000,98.310000,2.221137e+06,1.210040e+06,1.011097e+06

In [3]:
citiesDF[['state_name','literates_total','effective_literacy_rate_total']].groupby('state_name').apply(sum,axis=1)

state_name
ANDAMAN & NICOBAR ISLANDS  376     81997.76
ANDHRA PRADESH             2       84035.51
                           4      101360.38
                           29     195533.88
                           86     108618.41
                                    ...
WEST BENGAL                436    394451.46
                           443    356184.82
                           468     87437.18
                           476    159907.13
                           478    137960.16
Length: 493, dtype: float64