In [2]:
import pandas as pd

In [3]:
pd.load?

Object `pd.load` not found.

In [15]:
sourceDataset=pd.read_csv('SA1_Group_29.csv')

In [17]:
sourceDataset

,Index,SL_NO,ST_CODE,DIST_CODE,TTM_CODE,SECTOR_CODE,VT_CODE,WORKED_FOR_1D,CLOSED_Y,OPER_DUR_MM,...,REPAYMENT_DELAY,DECLINE_IN_GOP,DMD_PROB,WORK_CAP_PROB,RAW_MTRL_PROB,POWER_RPOB,LABOUR_PROB,MKT_PROB,EQUIP_PROB,MGMT_PROB
0,29704,41930,28,16,21,2,416030,1,,12,...,,2,,,,,,,,
1,17773,62145,28,19,25,2,419030,1,,11,...,,2,,,,,,,,
2,32524,10894,28,14,26,2,,1,,8,...,2,2,,,,,,,,
3,11702,16013,28,15,41,2,,1,,6,...,,2,,,,,,,,
4,36725,36938,28,3,,2,,1,,10,...,,2,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,7262,13535,28,14,23,1,0,1,,12,...,,2,,,,,,,,
9996,7284,13039,28,14,33,1,18548,1,,12,...,,2,,,,,,,,
9997,31778,50597,28,7,24,1,6522,1,,9,...,,2,,,,,,,,
9998,34064,54124,28,4,10,1,4039,1,,12,...,,2,,,,,,,,
9999,11325,38502,28,10,35,2,,1,,10,...,,2,,,,,,,,

In [18]:
sourceDataset["Index"]

0       29704
1       17773
2       32524
3       11702
4       36725
        ...
9995     7262
9996     7284
9997    31778
9998    34064
9999    11325
Name: Index, Length: 10000, dtype: int64

In [20]:
sourceDataset.reindex(sourceDataset["Index"])
sourceDataset

,Index,SL_NO,ST_CODE,DIST_CODE,TTM_CODE,SECTOR_CODE,VT_CODE,WORKED_FOR_1D,CLOSED_Y,OPER_DUR_MM,...,REPAYMENT_DELAY,DECLINE_IN_GOP,DMD_PROB,WORK_CAP_PROB,RAW_MTRL_PROB,POWER_RPOB,LABOUR_PROB,MKT_PROB,EQUIP_PROB,MGMT_PROB
0,29704,41930,28,16,21,2,416030,1,,12,...,,2,,,,,,,,
1,17773,62145,28,19,25,2,419030,1,,11,...,,2,,,,,,,,
2,32524,10894,28,14,26,2,,1,,8,...,2,2,,,,,,,,
3,11702,16013,28,15,41,2,,1,,6,...,,2,,,,,,,,
4,36725,36938,28,3,,2,,1,,10,...,,2,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,7262,13535,28,14,23,1,0,1,,12,...,,2,,,,,,,,
9996,7284,13039,28,14,33,1,18548,1,,12,...,,2,,,,,,,,
9997,31778,50597,28,7,24,1,6522,1,,9,...,,2,,,,,,,,
9998,34064,54124,28,4,10,1,4039,1,,12,...,,2,,,,,,,,
9999,11325,38502,28,10,35,2,,1,,10,...,,2,,,,,,,,

In [ ]:
sourceDataset.describe()

In [10]:
for c in sourceDataset.columns: print(c)

Index
SL_NO
ST_CODE
DIST_CODE
TTM_CODE
SECTOR_CODE
VT_CODE
WORKED_FOR_1D
CLOSED_Y
OPER_DUR_MM
OPER_DUR_DD
SURVEY_CODE
NIC_CODE
PERM_REG_Y
FACTORY_ACT
INIT_PROD_Y
UNIT_TYPE
ANCI_UNIT
ORG_TYPE
WOMAN_ENT
MKT_VAL_FA
ORI_PURC_VAL_PM
PM_INST_Y
EMP_TOTAL
EMP_MALE
EMP_FEMALE
EMP_CHILD
EMP_SC
EMP_ST
EMP_OBC
EMP_OTHER
POWER_SRC
PROD1_CODE
PROD2_CODE
PROD3_CODE
PROD4_CODE
PROD5_CODE
ACTI_NATURE
OPER_NATURE
MAN_BY
MAN_CASTE
REG_UNDER_SPR
ACC_EXIST
COMP_EXIST
KNOW_HOW
GOP_Year3
GOP_Year2
GOP_Year1
VOE_Year3
OS_LOAN_Year3
OS_INST_SRC
OS_NONINST_SRC
NET_Year2
NET_Year3
NET_STATUS_Year2
REPAYMENT_DELAY
DECLINE_IN_GOP
DMD_PROB
WORK_CAP_PROB
RAW_MTRL_PROB
POWER_RPOB
LABOUR_PROB
MKT_PROB
EQUIP_PROB
MGMT_PROB